NEXT_PUBLIC_SITE_ENV=production
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
TURNSTILE_ALLOWED_HOSTNAMES=

SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=
FORM_FROM_EMAIL=no-reply@example.com
FORM_DESTINATION_EMAIL=team@example.com
