.container {
  width: min(
    calc(100% - (var(--gutter) * 2)),
    var(--container-content)
  );
  margin-inline: auto;
}

.narrow {
  max-width: var(--container-narrow);
}

.content {
  max-width: var(--container-content);
}

.wide {
  max-width: var(--container-wide);
}
