.section {
  position: relative;
}

.none {
  padding-block: 0;
}

.medium {
  padding-block: calc(var(--section-space) * 0.65);
}

.large {
  padding-block: var(--section-space);
}

.default {
  color: var(--color-text);
  background: var(--color-background);
}

.subtle {
  color: var(--color-text);
  background: var(--color-background-subtle);
}

.brand {
  color: var(--color-text-inverse);
  background: var(--color-brand-primary);
}

.dark {
  color: var(--color-text-inverse);
  background: var(--color-background-emphasis);
}
